<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAegvQRocX6yQrRH8Dtt1qNiecfd2dHhLw</string>
	<key>GCM_SENDER_ID</key>
	<string>363404678440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fruitbowl.app</string>
	<key>PROJECT_ID</key>
	<string>fruitbowl-4328c</string>
	<key>STORAGE_BUCKET</key>
	<string>fruitbowl-4328c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363404678440:ios:042bad5cdb8e2a6b726c1d</string>
</dict>
</plist>